
<div class="top">

    <div class="top-bar">
        <router-link to="/">
            <img src="../img/home1.png" />
        </router-link>

        <p>{{page}}</p>
        <a class="right" v-on:click="topFun()">
            <img src="../img/other1.png" />
        </a>
    </div>
    
    <div class="top-cont bg-box" v-if = "topShow">

        <div class="login-box">
            <p v-if="!loginUser"> 
                <!-- <v-link href="/login" class="colorMove">
                    Login
                </v-link> -->
                <router-link to="/login">Login</router-link>

            </p>
            <p v-if="loginUser"> 
                <v-link href="/personal" class="colorMove">
                    个人中心
                </v-link>
            </p>
            <p> 
                <v-link href="/game" class="colorMove">
                    游戏中心
                </v-link>
            </p>
            <p> 
                <v-link href="/messages" class="colorMove">
                    消息
                </v-link>
            </p>
            <p> 
                <v-link href="/wallet" class="colorMove">
                    钱包
                </v-link>
            </p>


            
            <p v-if="loginUser"> 
                <a v-on:click="loginOut" class="colorMove">
                    登出
                </a> 
            </p>        
        </div>      
    </div>
</div>

