.mint-swipe,.mint-swipe-items-wrap{overflow:hidden;position:relative;height:100%}
.mint-swipe-items-wrap>div{position:absolute;-webkit-transform:translateX(-100%);
transform:translateX(-100%);width:100%;height:100%;display:none}
.mint-swipe-items-wrap>div.is-active{display:block;-webkit-transform:none;transform:none}
.mint-swipe-indicators{position:absolute;bottom:10px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
.mint-swipe-indicator{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2;margin:0 3px}
.mint-swipe-indicator.is-active{background:#fff}
.my-swipe {
    height: 200px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    box-shadow:0 0 2px 2px #ccc;
}
.slide1 {
    background-color: #0089dc;
    color: #fff;
}
.slide2 {
    background-color: #ffd705;
    color: #000;
}
.slide3 {
    background-color: #ff2d4b;
    color: #fff;
}
.my-swipe a{
    display: block;
    width:100%;
    height: auto
}
.my-swipe a img{
    display: block;
    width: 100%;
}



.home-list{
    width: 100%;
    background: #fff;
    height: 2rem;
    line-height: 2rem;
    margin: .3rem 0;
    color: #a6b1b0;
    text-shadow: 2px 2px 2px #ccc;
    overflow: hidden;
}
.home-list ul{
    width: 100%;
    height: auto;
}
.home-list ul li{
    height: 2rem;
    line-height: 2rem;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-indent: 1rem;
    color: #a6b1b0;
}