body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p,header,footer,html{margin:0;padding:0;font-weight:normal;}
input,button,select,textarea{outline:none; vertical-align:middle;font-weight: 300;color:#333;}
input::-moz-focus-inner{ border: 0;padding: 0;}
li{list-style:none;font-weight:normal;}
em,i{font-style:normal;}
a,li,p{text-decoration: none;font-weight:300;color: #333;-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(0,0,0,0);-ms-tap-highlight-color:rgba(0,0,0,0);-o-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0)}
img{border:none}
textarea{resize:none}
header,nav,section,article,footer,figure,figcaption{display:block;}
input[type="text"],input[type="search"],input[type="password"]{ -ms-appearance: none; -o-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; list-style: none;border: none;}
body{background: #e6e6e6;color:#404040;text-align:center;min-width:320px;width: 100%; min-height: 100%;font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;}
html {background: #e6e6e6;max-width: 768px; min-width: 320px; width: 100%; min-height: 100%; margin: 0 auto;}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.clearfix{ zoom:1;}

/*device-width*/
@media only screen and (max-width: 359px) { html { font-size:85%; } }
@media only screen and (min-width: 360px) and (max-width: 399px) { html { font-size: 100%; } }
@media only screen and (min-width: 400px) and (max-width: 479px) { html { font-size: 112.5%; } }
@media only screen and (min-width: 480px) and (max-width: 539px) { html { font-size: 125%; } }
@media only screen and (min-width: 540px) and (max-width: 599px) { html { font-size: 150%; } }
@media only screen and (min-width: 600px) and (max-width: 639px) { html { font-size: 165%; } }
@media only screen and (min-width: 640px) and (max-width: 719px) { html { font-size: 177.5%; } }
@media only screen and (min-width: 720px) and (max-width: 767px) { html { font-size: 200%; } }
@media only screen and (min-width: 768px) { html { font-size: 200%; } }

.app{
	width: 100%;
	height: auto;
	position: relative;
}
.box{
	width: 98%;
	margin: 0 auto;
	padding-top:3.5rem; 
	/*box-shadow: 0px 2px 3px #ccc;*/
}
.bg-box{
	width: 100%;
	height: auto;
	background: -webkit-linear-gradient(left top, #edf6f8 , #88c5d6); /* Safari 5.1 - 6.0 */
  	background: -o-linear-gradient(bottom right, #edf6f8, #88c5d6); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #edf6f8, #88c5d6); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #edf6f8 , #88c5d6); /* 标准的语法 */
}
.footer{
	width:98%;
	margin: 0 auto;
	background: #fff;
	padding: 1rem 0;
	font-size: .9rem;
	box-shadow: 1px 3px 5px #ccc;
}
.footer p{
	color: #a6b1b0;
	font-weight: 300;
	line-height: 1.5rem;
	height: 1.5rem;
	text-shadow: 2px 2px 2px #ccc;
}